@import "styles/vars.scss";

.tempMonitor {
  border-style: solid;
  border-width: 0.5px;
  border-color: $mainBorderColor;
  border-radius: 5px;
  text-align: right;
  &.row {
    &.label {
      float: right;
    }
    &.value {
      float: left;
    }
  }
}

.controlButtons {
  & button {
    margin: 10px;
    padding: 0.2rem;
    border: solid 0.5px;
    border-radius: 10px;
    &.start {
      background-color: #74ff74;
    }
    &.stop {
      background-color: #ff7474;
    }
    &.reset {
      background-color: #6193ff;
    }
    &.manualControl {
      background-color: #ffbf73;
    }
    &.on {
      background-color: #ff573f;
    }
    &.off {
      background-color: #6bd8ff;
    }
    &.automaticControl {
      background-color: #cf57ff;
    }
  }
}

div.graphView {
  position: relative;
  & .graphLayer {
    position: absolute;
    width: 100%;
    height: 60vh;
    margin-left: 0;
    &.backLayer {
      border-style: solid;
      border-width: 0.5px;
      border-color: $mainBorderColor;
      background-color: #74ff74;
    }
  }
}