// общие стили для всего веб-приложения

@import "./vars.scss";
@import "./compass-reset.css";
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
//@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap');
//@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
//@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo&display=swap');

html { font-size: calc(1em + 1vw); }

button {
  background-color: #747474;
  border-style: solid;
  border-width: 0;
  font-family: $mainFont;
  font-size: 1rem;
}

a {
  outline: none;
  text-decoration: none;
  color: $mainTextColor;
  &:focus {
    color: $mainTextColor;
  }
  &:link, &:visited {
    color: $mainTextColor;
  }
  &:hover {
    color: white;
  }
  &:active {
    color: white;
  }
}
hr {
  border-style: solid;
  border-color: $mainBorderColor;
  border-width: 0.5px;
}
