// глобальные переменные, которые можно использовать в других scss-модулях

//$richFont: 'Playfair Display', serif;
//$richFont: 'Dancing Script', cursive;
$richFont: 'Nanum Myeongjo', serif;
$mainFont: 'Libre Baskerville', serif;

//$mainColor: #172f1c;
$mainColor: #ffb65b;
$mainTextColor: darken($mainColor, 70%);
$mainBorderColor: rgba($mainTextColor, 0.5);
